.img-thumbnail img{
    width: 100%;
}
.img-thumbnail{
    padding: 2px;
}

.img-thumbnail .caption-full{
   padding: 9px;
}

#delete-form{
    display: inline;
}
.card{
    margin-top: 5px;
}
#main_nav{
    margin-bottom: 10px;
}
